{% extends 'main.html' %} {% block content %}
<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px; /* Adjust the gap size as needed */
  }

  .label {
    background-color: #f2f2f2; /* Change the background color as needed */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  .header {
    font-size: 1.5rem;
    margin-bottom: 20px; /* Add spacing below the header */
    color: #333; /* Choose a text color that complements the background */

  }

  .label__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
  }

  .label__list li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .label__list a {
    text-decoration: none;
    color: #333; /* Change the link color as needed */
    font-weight: bold;
    transition: color 0.2s; /* Add a smooth color transition on hover */
  }

  .label__list a:hover {
    color: #0077b6;
    cursor: pointer;
    
  }

  .label__list a span {
    background-color: #0077b6;
    color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 15px;
  }

  .active a {
    color: #ff6600; /* Change the active link color as needed */
  }

  .label__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/* calendar */
.calendar {
    background-color: #e2e2e2; 
    padding: 20px;
    border-radius: 5px;
  }

  .calendar h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .month-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
  }

  .month-navigation a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
  }

  .day {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
  }

.has-task {
  position: relative;
  background-color: #0077b6; 
  border-radius: 50%;
  padding: 5px;
  font-weight: bold;
}

.has-task:hover::before {
  content: attr(data-task-names);
  position: absolute;
  background-color: #333;
  color: #fff; 
  padding: 5px 10px;
  border-radius: 5px;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%); 
  white-space: nowrap; 
  display: none;
  z-index: 1;
}

.has-task:hover::before {
  display: block;
}

.task-deadline {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
  }

/* right section - comments */
.right__section {
    width: 80%;
    margin-right: 5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

.comment-list {
    list-style: none;
    padding: 0;
}

.comment-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9; /* Change the background color as needed */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.comment-author {
    font-weight: bold;
    color: #0077b6;
}

.comment-title strong {
    font-weight: bold;
}

.comment-body {
    margin-top: 10px;
}



</style>
<h2>Home template</h2>
<div class="home-container">
  <div class="left__section">
  <div class="label">
    <h3 class="header">Browse Labels</h3>
    <ul class="label__list">
      <li class="active">
        <a>All <span>{{labels_with_task_count.count}}</span></a></li>
        
      {% for label in labels_with_task_count %}
      <li class="label__input"><a>{{label.name}} <span>{{label.task_count}}</span></a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="calendar">
    <h3>Task Deadline Calendar</h3>
    <div class="month-navigation">
      <a href="?month={{ prev_month }}">&lt;</a>
      <h2>{{ month_name }}</h2>
      <a href="?month={{ next_month }}">&gt;</a>
    </div>
    <div class="month">
      <div class="day">Sun</div>
      <div class="day">Mon</div>
      <div class="day">Tue</div>
      <div class="day">Wed</div>
      <div class="day">Thu</div>
      <div class="day">Fri</div>
      <div class="day">Sat</div>
      {% for date_info in date_task_info %}
      <div class="day{% if date_info.tasks %} has-task{% endif %}" data-task-names="{{ date_info.tasks|join:', ' }}">{{ date_info.date.day }}</div>
      {% endfor %}
    </div>
    <div class="task-deadline">
      {% for task in current_month_tasks  %}
        <p>{{ task.title }} - {{ task.due_date }}</p>
      {% endfor %}
    </div>
  </div>
</div>
<div>
  {% include 'base/tasks-component.html' %}
</div>
  <div class="right__section">
    <h3 class="header">Recent Comments</h3>
    <ul class="comment-list">
        {% for comment in all_user_comments %}
            <li class="comment-item">
                <p class="comment-author"><a>@{{comment.author.name}}</a></p>
                <p class="comment-title"><span> commented on </span><a><strong>{{ comment.task.title }}</strong></a></p>
                {% if comment.body|length > 100 %}
                    <p class="comment-body">{{ comment.body|slice:":100" }}{% if comment.body|length > 100 %}...{% endif %}</p>
                {% else %}
                    <p class="comment-body">{{ comment.body }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<script>
  function toggleDescription(taskCard) {
    var description = taskCard.querySelector('.task-description');
    if (description.style.display === 'none' || description.style.display === '') {
      description.style.display = 'block';
    } else {
      description.style.display = 'none';
    }
  }
  </script>
{% endblock content %}
